  .cart {
    padding-top: 7px;
  }
  .pCardTittle {
    color: white;
    font-size: 17px;
    padding: 7px 0 0;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .myCartTittle {
    margin-bottom: 44px;
  }
  .product-render {
    display: flex;
    justify-content: space-between;
  }
  .product-cart {
    min-width: 100px;
  }
  .total-price {
    display: flex;
    justify-content: space-between;
  }
  .checkout-button {
    padding: 6px 0;
  }