<app-navbar></app-navbar>

<div class="container mx-auto my-8 px-4">
  <h2 class="text-2xl font-bold text-gray-900 dark:text-white mb-6 border-gray-200 dark:border-gray-700 pb-2 text-center">
    Team Management
  </h2>

  <div class="relative overflow-x-auto sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-sm text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3">
            Id
          </th>
          <th scope="col" class="px-6 py-3">
            Username
          </th>
          <th scope="col" class="px-6 py-3">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let agent of agents" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
            {{ agent.id }}
          </td>
          <td class="px-6 py-4">
            {{ agent.username }}
          </td>
          <td class="px-6 py-4 w-48">
            <div class="flex space-x-1">
              <button 
                (click)="removeAgent(agent.id)" 
                class="font-medium text-red-600 dark:text-red-500 hover:underline px-2 py-1 rounded border border-red-600 dark:border-red-500 text-sm">
                Remove
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
